@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url("./assests/Source_Sans_Pro/SourceSansPro-Regular.ttf");
    font-family: 'Roboto', sans-serif;
    src: url("./assests/Roboto/Roboto-Light.ttf");
  }

* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
.bar
{
    border:1px solid #eaeaea;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}
.main-nav
{
    display: flex;
    list-style: none;
    font-size: 1em;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
li
{
    padding-right: 18px;
    padding-left: 18px;
    font-family:'Source Sans Pro', sans-serif;
    
}
li:not(:first-child)
{
    padding-top: 15px;
    
}
li:hover
{
    background-color: lightgrey;
}

.gdg-img
{
    width: 80px;
    height: 50px;
    padding-top: 0px;
}
a
{
    color: black;
    text-decoration: none;
}
.side
{
    margin-right: auto;
}
#bg
{
    height: 100%;
    width: 100vw;
   
    
}

#landing {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./assests/GDGBG-01.svg);
}

#landing .title
{
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    letter-spacing: .25px;
}
.f1
{
    font-size:105px;
}
.f2
{
    font-size:105px;
}

#landing .button
{
  
  background-color:lightgrey; 
  border: none;
  color: green;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 13px;
}

#landing .reg1 {
    background-color:#D8D8D8;
    color: green; 
    
  }
  
#landing  .reg1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
.section
{
  height: 100%;
  width: 100vw;
  position: relative;
  overflow: hidden;
}